<div class="cost_card border--radius box--shadow_primary {{classes}}">
    <h4 class="cost_card__title text--center font--family_primary font--weight_700 font--color_primary">
        {{title}}
    </h4>

    <div class="cost_card__content">
        <div class="cost_card__img">
            <img src={{srcImg}} alt='{{altImg}}'>
        </div>

        <div class="cost_card__body">
            <p class="cost_card__text font--family_primary font--weight_300 font--color_secondary">
                &nbsp;&nbsp;&nbsp;&nbsp;{{text}}
            </p>

            <div class="row row--justify_content_center row--align_items_end">
                <p class="cost_card__value font--family_primary font--weight_700 font--color_secondary">
                    {{cost}}
                </p>
                <p class="cost_card__currency font--family_primary font--weight_300 font--color_primary">
                    &nbsp;грн
                </p>
            </div>
        </div>
    </div>

</div>